.loginForm {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginLabel {
  position: relative;
  right: 170px;
  font-size: large;
}
.loginInput {
  width: 401.6px;
  height: 52.8px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
}
.loginInput::placeholder {
  color: #c5c5c5;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  font-weight: 350;
}
.hrContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.loginPageHr {
  background-color: #d9d9d9;
  width: 401px;
  height: 2px;
  border: 0;
  margin: 15px 0;
}
.loginButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
