.logo {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
}
.back {
  background-color: #d8d8d8;
  padding: none;
}
.rec {
  height: 100vh;
  margin-left: -40pt;
  margin-top: -65pt;
}
.info {
  margin-left: -235pt;
  margin-bottom: 150pt;
  width: 280pt;
}
.topdiv {
  position: absolute;
  margin-left: 80vw;
  margin-top: 15pt;
  display: flex;
  width: 250pt;
}
.calen {
  margin-left: -330pt;
  margin-bottom: 90pt;
  width: 230pt;
}
.scrap {
  margin-left: -230pt;
  margin-bottom: 25pt;
  width: 230pt;
}
.rete {
  margin-left: -50pt;
}
.p {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  margin-left: 100pt;
  width: 250pt;
  height: 25pt;
  padding-left: 30px;
  padding-top: 10px;
}
.divp {
  margin-top: -415pt;
  padding-left: -100pt;
}
.userinfo {
  margin-left: 50vw;
  margin-top: -80vh;
}
.ex {
  margin-bottom: 40pt;
  width: 60pt;
}
.clickable {
  cursor: pointer;
}
