.q2-app-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #e9e9e9;
}

.q2-heading h6 {
  display: flex;
  align-items: center;
  margin-top: 0;
  position: fixed;
  top: 30px;
  left: 30px;
}

.q2-heading svg {
  margin-right: 10px;
}

.q2-content {
  width: 80%;
  max-width: 650px;
  position: absolute;
}

.q2-content-button {
  width: 100%;
  max-width: 850px;
  position: relative;
  margin-top: 320px;
}

.q2-content-button-6 {
  width: 100%;
  max-width: 1300px;
  position: relative;
  margin-top: 320px;
}

.q2-button-grid-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  margin-top: 100px;
}

.q2-button-grid-detail-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  margin-top: 100px;
}

.q2-button-grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  margin-top: 100px;
}

.q2-button-grid-6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  margin-top: 100px;
}

.q2-topic-button {
  padding: 17px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.q2-topic-button-detail.selected {
  opacity: 1;
}

.q2-topic-button-detail-6.selected {
  opacity: 1;
}

.q2-topic-button-detail {
  padding-top: 17px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
}

.q2-topic-button-detail-6 {
  padding-top: 17px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
}

.q2-separator-6 {
  height: 1px;
  width: 104%;
  background-color: black;
  margin-top: 10px;
}

.q2-detail-6 {
  background-color: #f0f0f0;
  width: 103%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -6px;
  margin-right: -6px;
  border-radius: 0px 0px 10px 10px;
}

.q2-separator {
  height: 1px;
  width: 104%;
  background-color: black;
  margin-top: 10px;
}

.q2-detail {
  background-color: #f0f0f0;
  width: 103%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -6px;
  margin-right: -6px;
  border-radius: 0px 0px 10px 10px;
}

.q2-bar {
  display: flex;
  width: 80%;
  margin: 110px auto 0;
  height: 8px;
  border-radius: 10px;
  background-color: #cccccc;
}

.q2-next-button {
  top: 260px;
  right: 00px;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #cccccc;
}

.q2-prev-button {
  top: 260px;
  left: 00px;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #cccccc;
}
