.scrap-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #d9d9d9;
}

.scrap-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e9e9e9;
  position: relative;
}

.headerLogo {
  text-align: center;
  width: 500px;
}

.header-buttons {
  position: absolute;
  right: 20px;
  display: flex;
}

.delete-button,
.home-button {
  padding: 0px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.scrap-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 10px;
}

.article-section,
.memo-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.view-article-button {
  width: 20px;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
  cursor: pointer;
}

.article-meta {
  margin-top: 17px;
  float: right;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
}

.article-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.article-detail,
.ai-summary-content {
  letter-spacing: 1px;
  line-height: 25px;
}

.memo-textarea {
  width: 96%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.memo-save {
  float: right;
}

.edit-memo-button {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  background-color: #f8f8f8;
  position: absolute;
  margin-top: -65px;
  margin-left: 550px;
  cursor: pointer;
}
.ai-summary-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ai-summary-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
