.scrapList {
  position: relative;
  height: 270px;
}

.folderHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.folderTitleWrapper {
  display: flex;
  align-items: center;
}

.folderName {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.folderEditIcon {
  cursor: pointer;
  margin-left: 10px;
}

.popupMenu {
  width: 250px;
  position: absolute;
  transform: translateX(10px);
  background: white;
  padding: 10px;
  padding-bottom: 0;
  z-index: 1000;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupMenu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px; /* Adjust position of the arrow */
  margin-left: -5px;
  width: 0;
  height: 0;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent; /* Arrow color */
}

.renameForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderRenameInput {
  width: 180px;
  height: 30px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 0 8px;
}

.saveButton {
  height: 30px;
  cursor: pointer;
  background-color: #007bff; /* Adjust background color */
  color: white;
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 0 10px;
}

.deleteButton {
  width: 200px;
  font-size: large;
  margin-top: 20px;
  border: none;
  color: red;
  background-color: transparent;
  cursor: pointer;
}

.deleteIcon {
  margin: 10px;
}

.deleteText {
  float: right;
  margin-left: -10px;
  margin-right: 10px;
}

.folderDate {
  margin: 5px 0 10px;
}
