.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sortSwitch {
  display: flex;
  gap: 0px; /* Add space between buttons */
  position: relative;
}

.sortButton {
  margin-top: 18px;
  margin-left: 8px;
  padding: 7px 16px; /* Reduce button size */
  border: 0px solid #ccc; /* Light gray border */
  background: #cfcfcf;
  /* Light gray background */
  color: #333; /* Dark gray text */
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  font-weight: bold; /* Make text bold */
}

.sortButton.active {
  background: #f0f0f0; /* Dark gray background for active button */
  color: #333; /* White text for active button */
}

.scrap-list {
  margin-left: 450px;
}
.folderSelect {
  width: 120px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
}
