.logo {
  display: flex;
  margin-top: -2vh;
  margin-left: 5vw;
}
.back {
  background-color: #d8d8d8;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.name {
  text-align: center;
  font-size: 15pt;
}
.image {
  display: flex;
  margin-top: 10vh;
  margin-left: 20vw;
  width: 60vw;
  height: 60vh;
}
.btn {
  margin-right: 3vw;
  margin-left: 3vw;
  width: 16vw;
  height: 6vh;
}
.shbtn {
  width: 4vw;
  margin-left: 2vw;
}
